html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* body {
    background: linear-gradient(to bottom right, #002b7f, #3a7bd5);
} */

#current-weather {
    border: 1px solid black;
    padding: 5px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    padding-left: 25px;
    padding-bottom: 15px;
    width: 95%;
}

#top-header {
    height: 75px;
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    background-image: linear-gradient(to right, rgba(0, 71, 171, 1), rgba(112, 41, 99, 1));
    color: white;
}

#top-header > div {
    padding-top: 15px;
}

#side-panel {
    margin: 15px;
}

#weather-dashboard {
    margin: 15px;
}

.custom-card {
    width: 12rem;
    background-color: #1434A4;
    color: white;
    line-height: 2rem;
    border: 0;
    margin: 8px;
    padding: 5px 0 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #1434A4;
}

.custom-btn {
    margin-bottom: 10px;
    border: none;
}

.custom-btn:hover {
    background-color: darkgreen;
}

form {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.info {
    line-height: 2.25rem;
}

.uvi {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
    color: black;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.custom-icon-sm {
    width: 10%;
}

.custom-icon-lg {
    width: 25%;
}