#current-weather {
    border: 1px solid black;
    padding: 5px;
}

#top-header {
    height: 100px;
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    background-image: linear-gradient(to right, rgba(0, 71, 171, 1), rgba(112, 41, 99, 1));
    color: white;
}

#side-panel {
    margin: 15px;
}

#weather-dashboard {
    margin: 15px;
}

.custom-card {
    width: 12rem;
    background-color: #1434A4;
    color: white;
    border: 1px solid black;
    border-radius: 0;
    margin: 5px;
    line-height: 2rem;
}

.custom-btn {
    margin-bottom: 10px;
}

form {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.info {
    line-height: 2.25rem;
}

.uvi {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
    color: black;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}